@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html {
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Inter', sans-serif;
}
.App{
    margin: 10% 10% 0 10%;
}
.anchorBtn{
    margin-bottom: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: #eaecf0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #101828;
}
p{
    text-align: center;
    margin: 3px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.subText{
    font-weight: 300;
    font-size: 14px;
}
.profSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 42px 0;
}
.profText{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
}
.footerWrapper{
    margin-top: auto;
    padding: 60px 0 10px 0;
    width: 100%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerImg{
    width: 120px;
}
.zuri{
    margin-left: 100px;
}
.i4g{
    margin-right: 60px;
}
.footerText{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}
.iconWrapper{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
@media screen and (max-width: 600px) {
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 10%;
    }
    .zuri{
        margin-left: 0;
    }
    .footerText{
        font-size: 12px;
    }
}